:root {
  // Font Family
  --default-font-family: 'Lato', sans-serif;

  // Colors
  --dark-black: #0d1821;
  --color-primary-light: #b4cded;
  --color-primary-dark: #344966;

  // Borders
  --component-border-radius: .5rem;
}